<!-- contact-us.component.html -->
<div class="body">
  <div class="left-side">
    <div class="contact-us">
      <h1>Kontaktiraj nas!</h1>
      <p>Z veseljem se spoznamo. Piši nam!</p>
    </div>
    <div class="contact-info-container">
      <div class="box">
        <div class="contact-item">
          <i class="bi bi-facebook"></i>
          <a href="https://www.facebook.com/p/Kviz-Mojster-61552922048619/" target="_blank" rel="noopener noreferrer">Kviz mojster</a>
        </div>
        <div class="contact-item">
          <i class="bi bi-instagram"></i>
          <a href="https://www.instagram.com/kviz_mojster/" target="_blank" rel="noopener noreferrer">kviz_mojster</a>
        </div>
        <div class="contact-item">
          <i class="bi bi-envelope"></i>
          <a href="kviz.mojster@gmail.com">info&#64;kvizmojster.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/images/ig-mock-light.png" class="phone-img" alt="ig mock-up"/>
  </div>
</div>
