.body{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  height: calc(100vh - 60px); /* Adjust 60px to match the height of your header */
  padding: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  border-top: 1px solid var(--lighter-blue);
}
.left-side{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

p {
  font-size: 17px;
  margin-top: 0px;
}

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20%;
  padding-bottom: 7vh;
}

.contact-us h1 {
  font-size: 48px; /* Adjust the font size as needed */
  margin-top: 0px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}


.contact-container {
  /*padding-top: 5%;*/
  display: flex;
  flex-direction: row;
  align-items: center; /* Centriranje sadržaja unutar kontejnera */
  flex-wrap: wrap; /* Omogućuje prelazak u novu vrsticu */
}

.contact-info-container {
  display: flex;
  flex-direction: column; /* Prikaz stavki u vertikalnom nizu */
  align-items: center;
  gap: 30px; /* Povećan razmak između stavki */
}

.contact-item {
  display: flex;
  align-items: center; /* Poravnavanje ikona i teksta prema vertikalnoj osi */
  gap: 15px;
  padding-bottom: 30px;
}

.contact-item i {
  font-size: 24px; /* Prikladna veličina ikona */
}

.contact-item a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.contact-item a:hover {
  text-decoration: underline;
}

/* Stiliziranje SVG ikone */
.img-container {
  padding-top: 8vh;
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centriranje SVG ikone horizontalno */
  align-items: center; /* Centriranje SVG ikone vertikalno */
}

.phone-img {
  width: auto;
  height: 80dvh; /* Održava proporcije visine u odnosu na širinu */
  transform: rotate(12deg);
}

/* Media query za male ekrane */
@media (max-width: 800px) {
  .body {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 15%;
  }

  p {
    font-size: 20px;
  }


  .contact-container {
    flex-direction: column; /* Promijeni raspored u stupce za male ekrane */
    align-items: center; /* Centriranje sadržaja unutar kontejnera */
  }

  .contact-info-container {
    padding-left: 0; /* Ukloni lijevi padding za male ekrane */
    gap: 20px; /* Povećaj razmak između stavki */
  }

  .phone-img {
    width: 60vw;
    height: auto;
    transform: rotate(12deg);
  }

  .img-container {
    margin-top: 30px; /* Dodaj razmak između SVG ikone i kontaktnog sadržaja */
  }

  .contact-us h1 {
    font-size: 30px;
  }
}
