.about-us-container {
  display: flex;
  justify-content: center; /* Align text to the right */
  /*  align-items: center;*/
  height: 70vh; /* Takes up almost the entire viewport height */
  background: url('/assets/images/hire-us1.jpg') center/cover no-repeat; /* Image as background */
  position: relative;
  overflow: hidden; /* Ensure gradient mask is visible only within about-us-container */
}

.about-us-content {
  max-width: 50%; /* Text on the right half */
  z-index: 2;
  color: white; /* Make text stand out from the image */
  flex-direction: column;
  align-self: center;
}

.about-us-content h1 {
  color: white;
  font-size: 8vh; /* Velikost pisave se prilagaja glede na širino zaslona */
  line-height: 0.1;
  font-family: 'Tahoma', sans-serif;
  letter-spacing: 5px; /* Povečanje razmaka med črkami */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Background section styling */
.background {
  height: 100vh;
  --bg-dark: #0c1421;
  --bg-light: #192d4e;
  background-image: linear-gradient(var(--bg-dark), var(--bg-light));
}

#image-container {
  background: url(http://pic2.ooopic.com/11/26/30/31b1OOOPIC48.jpg) left top no-repeat;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
  width: 300px;
  height: 300px;
}
