<div class="store-container">
  <app-product-card [title]="'Pomladni kviz za doma'" [shortDesc]="'Kvizmojstrov digitalni kviz za doma. Primeren za vse generacije.'" [price]="'19.99'" [imageUrl]="'assets/images/products/kviz-doma/kvizdoma.png'" ></app-product-card>
  <app-product-card [title]="'Kviz za doma: FILMI'" [shortDesc]="'Kvizmojstrov digitalni kviz za doma. Tematski kviz posvečen filmom z zvočnimi in video vsebinami'" [price]="'19.99'" [imageUrl]="'assets/images/products/kviz-doma/filmikviz.png'" ></app-product-card>
  <app-product-card [title]="'Lov na zaklad: KOPER'" [shortDesc]="'Sprehodi se čez srednjeveški Koper po sledeh trgovca Marca Da Ponteja.'" [price]="'39.99'" [imageUrl]="'assets/images/products/lovnazaklad.jpg'" ></app-product-card>
  <!-- &lt;!&ndash; <app-product-card [title]="'Kviz za doma'" [shortDesc]="'pomladni kvizmojstrov kviz za doma'"></app-product-card>
    <app-product-card [title]="'Kviz za doma'" [shortDesc]="'pomladni kvizmojstrov kviz za doma'"></app-product-card>
  &lt;!&ndash;  <div class="button-contai&ndash;&gt;ner">
      <button class="rounded-btn" onclick="window.location.href='https://buy.stripe.com/8wM5kCem0dhT70QfZ0'">Kupi</button>
    </div>&ndash;&gt;-->
</div>
