.store-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #faf8f6;
  height: auto;
  min-height: calc(80vh - 60px); /* Adjust 60px to match the height of your header */
  padding: 20px;
  padding-top: 15vh;
  justify-content: center;
  padding-bottom: 15vh;
  align-self: stretch;      /* po višini, če je vertikalni flex */
  gap: 4vw;
}

.button-container{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.rounded-btn:hover {
  background-color: #ffd62e;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 4rem;
  z-index: 1000;
  width: 90%;
  max-width: 1000px;
  height: 70%;
  max-height: 700px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  color: black;
  flex: 1;
  overflow: hidden;
}

.modal-gallery {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 60%;
  height: 100%;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 30px;
}

.long-desc {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding-right: 10px;
}

.modal img {
  width: 40%;
  object-fit: cover;
}

.modal-content h2 {
  margin-top: 20px;
  font-size: 40px;
  font-family: "DM Serif Text", serif;
  font-weight: 40;
  font-style: normal;
}

.modal-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding-top: 1rem;
  border-top: 1px solid #ded9d3;
  flex-shrink: 0;
}

.buy-btn {
  background: #fcbf49;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-gallery img {
  width: 100%;
  object-fit: cover;
}

swiper {
  width: 100%;
  height: 100%;
}

swiper-container{
 --swiper-theme-color: #fcbf49;
   flex: 1;
 }

 swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
 }


/* Spremeni barvo puščic */
swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: var(--background-color); /* ali #ffd62e, kot gumb */
  opacity: 0.5;
  font-size: 20px;
}

/* Če želiš bolj opazne na hover */
swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  color: #ffd62e;
}

/* Spremeni barvo pagination krogcev */
swiper-container::part(pagination-bullet) {
  background-color: var(--background-color);
  opacity: 0.5;
}

swiper-container::part(pagination-bullet-active) {
  background-color: var(--background-color);
}

.modal-gallery img,
.modal-gallery video,
swiper img,
swiper video {
  border-radius: 0 !important;
}
/*
 Video/slike naj popolnoma zapolnijo slide*/
swiper-slide img,
swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 !important;
}

.discount-line {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.price {
   font-size: 20px;
   font-family: sans-serif;
   font-weight: bold;
   color: #000;
   margin: 0;
}

.discount-price {
   font-size: 20px;
   font-family: sans-serif;
   font-weight: bold;
   color: #000;
   margin: 0;
}

.original-price {
  text-decoration: line-through;
  color: grey;
  opacity: 0.7;
  font-size: 20px;
}

.discount-percent {
  color: #a00;
  font-size: 20px;
  font-weight: 400;
}


@media (max-width: 768px) {

/*  .classa{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh; *//* ali kolk placa rabiš *//*
  }*/

/*  .top {
    *//* nič posebnega, samo naj bo minimalno *//*
    background-color: blue;
  }

  .bottom {
    flex: 1; *//* vzame preostali prostor *//*
    overflow: auto; *//* če hočeš scroll znotraj *//*
    background-color: yellow;
  }*/


  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #faf8f6;
    color: black;
  }

  .close-btn-mobile {
    display: flex;
    font-size: 2rem;
    border: none;
    color: black;
    cursor: pointer;
    padding: 1rem;
    justify-content: end;
    background-color: #faf8f6;
  }

  .modal-body-mobile {
    flex: 1;
    overflow-y: auto;
/*    background-color: blue;*/
    box-shadow: none;
    padding-right: 0;
}

  .modal-gallery {
    width: 100%;
    height: 50%;
  }

  .modal-content {
    width: 100%;
    max-width: 100%;
    height: auto; /* <-- tole dodaš */
    box-sizing: border-box;
    padding: 2rem;
    font-size: 18px;
    overflow: visible;
  }

  .modal-content h2 {
    font-size: 28px;
    margin-top: 0;
  }

  .long-desc {
    overflow: visible !important;
    flex: unset !important;
    padding-right: 0;
  }

  .modal-bottom {
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 30px;
  }

  swiper-container {
    height: 100%;
  }

  swiper-slide img,
  swiper-slide video {
    height: 100%;
    object-fit: cover;
  }
}

