<div class="card-container">
  <app-hire-us-card
    [title]="'Team building'"
    [imagePath]="'/assets/images/hire-us-card-images/pexels-denniz-futalan-339724-3453047.jpg'"
    [backtext]="'Sproščen in povezovalen večer za vašo ekipo.'"
  >
  </app-hire-us-card>

  <app-hire-us-card
    [title]="'Rojstni dan'"
    [imagePath]="'/assets/images/hire-us-card-images/a-n-v-e-s-h-i3CoXuEFwl4-unsplash.jpg'"
    [backtext]="'Personalizirana popestritev rojstnodnevne zabave.'"
  >
  </app-hire-us-card>

  <app-hire-us-card
    [title]="'Kviz na vašem dogodku'"
    [imagePath]="'/assets/images/hire-us-card-images/pexels-darlene-alderson-7016492.jpg'"
    [backtext]="'Pub kviz v vašem baru, na festivalu ali drugih priložnostih.'"
  >
  </app-hire-us-card>
</div>
