<div class="card-container">
  <app-hire-us-card
    [title]="'Team building'"
    [imagePath]="'/assets/images/hire-us-card-images/teambuilding.jpg'"
    [backtext]="'Sproščen in povezovalen večer za vašo ekipo.'"
  >
  </app-hire-us-card>

  <app-hire-us-card
    [title]="'Rojstni dan'"
    [imagePath]="'/assets/images/hire-us-card-images/birthday2.webp'"
    [backtext]="'Personalizirana popestritev rojstnodnevne zabave.'"
  >
  </app-hire-us-card>

  <app-hire-us-card
    [title]="'Kviz na vašem dogodku'"
    [imagePath]="'/assets/images/hire-us-card-images/your-event.jpg'"
    [backtext]="'Pub kviz v vašem baru, na festivalu ali drugih priložnostih.'"
  >
  </app-hire-us-card>
</div>

