.card-container {
  display: flex; /* Uporabi Flexbox */
  /*flex-wrap: wrap; !* Omogoči prelom vrstic *!*/
  justify-content: center; /* Poravnaj kartice na sredino */
  gap: 5vw; /* Razmak med karticami */
  padding-bottom: 10vh;
}

/* Prilagajanje za manjše zaslone */
@media (max-width: 800px) {
  .card-container {
    flex-direction: column; /* Postavi kartice v stolpec */
    align-items: center; /* Poravnaj kartice na sredino */
    padding: 30px; /* Zmanjšaj padding za manjše zaslone */
  }
}
