
.glowing-text-yellow {
  color: yellow;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 10px rgba(255, 255, 255, 0.8),
               0 0 15px rgba(255, 255, 255, 0.8);
}

.logo-img {
  max-width: 150px; /* Maksimalna širina logotipa */
  max-height: 50px; /* Maksimalna višina logotipa
  height: auto; /* Ohranitev razmerja višina/širina */
  width: auto; /* Samodejna prilagoditev širine */
}

header {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 2px;
  margin: 0;
  cursor: pointer;
}

.desktop_menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.desktop_menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop_menu ul li {
  color: white;
  font-size: 18px;
  margin-left: 25px;
}

.desktop_menu ul li:hover {
  color: pink;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 10px rgba(255, 255, 255, 0.8),
               0 0 15px rgba(255, 255, 255, 0.8);
}

.active{
  color: pink !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
  0 0 10px rgba(255, 255, 255, 0.8),
  0 0 15px rgba(255, 255, 255, 0.8);
}

.menu-icon {
  display: none; /* Hide for now, only show on smaller screens if needed */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .desktop_menu {
    transition:0.4s ease-in-out;
    display: block;
    position: fixed;
    right: -300px;
    top: 64px;
    width: 280px;
    height: 100%;
    z-index: 9999;
    padding-top: 20px;
  }

  .desktop_menu ul {
    display: block;
  }

  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 26px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
  }

  .menu-icon {
    color:white;
    font-size: 40px;
    padding: 10px;
    display: block;
    cursor: pointer;
  }

  .mobile_menu{
    right:0;
    transition:0.4s ease-in-out;
  }

  .logo-img {
    max-width: 100px;
    max-height: 40px;
  }
}
