.tickets-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #faf8f6;
  height: auto;
  min-height: calc(80vh - 60px); /* Adjust 60px to match the height of your header */
  justify-content: center;
  padding: 15vh;
  align-self: stretch;      /* po višini, če je vertikalni flex */
  gap: 4vw;
}

