<div class="product-card">
  <img
    [src]="imageUrl"
    alt="Slika kviza"
    class="product-image"
  />

  <div class="product-content">
    <h3 class="product-title">{{ title }}</h3>
    <p class="product-subtitle">{{ shortDesc }}</p>

    <ng-container *ngIf="onDiscount; else regularPrice">
      <div class="card-discount-line">
        <span class="card-original-price">{{ price }}€</span>
        <span class="card-discount-price">{{ discountPrice }}€</span>
        <span class="card-discount-percent">-{{ discountPercentage }}%</span>
      </div>
    </ng-container>
    <ng-template #regularPrice>
      <p class="product-price">{{ price }}€</p>
    </ng-template>
  </div>

</div>
