.container{
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 50px;
  flex-direction: column;
  gap: 10%
}
.title{
  display: flex;
  justify-content: center;
  color: white;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-color);
}

.card-1{
  align-self: center;
  padding-right: 30%;
}

.card-2{
  align-self: center;
  padding-left: 40%;

}

.card-3{
  align-self: center;
  padding-right: 50%;
}

.card-4{
  align-self: center;
  padding-left: 30%;

}

.card-5{
  align-self: center;
}

.who-are-we-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-are-we-text {
  width: 60%;
  font-size: 19px;
  text-align: justify;
}

.who-are-we-photo{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 30px;
}

.who-are-we-photo img{
  max-width: 300px;
  display: block;
}

.us-in-numbers{
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 10vw;
  flex-wrap: wrap;
  justify-content: center;
}

.numbers-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.numbers{
  font-family: 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 6vh;
}

.desc{
  font-family: 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 2.5vh;
}



@media (max-width: 800px) {
  .who-are-we-container{
    flex-direction: column;
    padding-bottom: 50px;
    gap: 20px;
    height: auto;

  }
  .who-are-we-text {
    width: 90%;
  }

  .container{
    padding-top: 0px;
  }

  .us-in-numbers{
    gap: 60px;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .numbers{
    font-size: 4vh;
  }
}

