<section class="about-us-container">
  <div class="about-us-content">
      <div class="animation-container">
        <app-km-animation [firstWord]="'KVIZ'" [secondWord]="'MOJSTER'"></app-km-animation>
      </div>
      <div class="subtext">
        <h2>Pub kvizi v Sloveniji</h2>
      </div>
    <div class="button-container">
      <button class="rounded-btn" routerLink="/tickets-store" routerLinkActive="active">Vstopnice</button>
    </div>
  </div>
</section>
<app-about-us-feedbacks></app-about-us-feedbacks>
