.about-us-container {
  display: flex;
  justify-content: center; /* Align text to the right */
  align-items:center;
  height: 95vh; /* Takes up almost the entire viewport height */
  width: auto;
  background: url('/assets/images/km_naslovnica.jpg') center/cover no-repeat; /* Image as background */
  position: relative;
  overflow: hidden; /* Ensure gradient mask is visible only within about-us-container */
}

.about-us-content {
  color: white; /* Make text stand out from the image */
  flex-direction: column;
}

.animation-container{
  display: flex;
  justify-content: center;
}

.subtext h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 15vh;
}

.button-container{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.rounded-btn {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #ffe57a;
  color: var(--background-color);
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: "DM Serif Text", serif;
  transition: background-color 0.3s;
}

.rounded-btn:hover {
  background-color: #ffd62e;
}

.about-us-content h1 {
  font-size: 48px;
  color: yellow;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 10px rgba(255, 255, 255, 0.8),
               0 0 15px rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}


/* Media query za manjše zaslone */
@media (max-width: 800px) {
   h1 {
      font-size: 30px;
    }
}
