.about-us-container {
  display: flex;
  justify-content: center; /* Align text to the right */
  height: 95vh; /* Takes up almost the entire viewport height */
  width: auto;
  background: url('/assets/images/km_naslovnica.jpg') center/cover no-repeat; /* Image as background */
  position: relative;
  overflow: hidden; /* Ensure gradient mask is visible only within about-us-container */
}

.about-us-content {
  display: flex;
  max-width: 50%; /* Text on the right half */
  z-index: 2;
  color: white; /* Make text stand out from the image */
  padding: 10vh;
  flex-direction: column
}

.animation-container{
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.subtext{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  text-align: center;
}

.about-us-content h1 {
  font-size: 48px;
  color: yellow;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 10px rgba(255, 255, 255, 0.8),
               0 0 15px rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}


/* Media query za manjše zaslone */
@media (max-width: 768px) {
  /*  h1 {
      font-size: 8vh; *//* Večja velikost pisave za manjše zaslone *//*
    }*/
}
