<div class="container">
  <h2 class="title">Kdo smo?</h2>
  <div class="who-are-we-container">
    <div class="who-are-we-text">
      <p>{{weAreText}}</p>
    </div>
    <div class="who-are-we-photo">
      <img src="assets/images/zalasabi.webp" class="zala-sabi" alt="picture of kviz mojster team members"/>
    </div>
  </div>
  <div>
    <h2 class="title">Mnenja obiskovalcev</h2>
  </div>
  <div class="feedback-container">
    <app-feedback [feedback]="f1" [author]="a1" class="offset-card card-1"></app-feedback>
    <app-feedback [feedback]="f2" [author]="a2" class="offset-card card-2"></app-feedback>
    <app-feedback [feedback]="f3" [author]="a3" class="offset-card card-3"></app-feedback>
    <app-feedback [feedback]="f4" [author]="a4" class="offset-card card-4"></app-feedback>
    <app-feedback [feedback]="f5" [author]="a5" class="offset-card card-5"></app-feedback>
  </div>
</div>
