.custom-card {
  display: flex;
  padding: 24px; /* Večji padding */
  /*margin: 3dvw;*/
  border-radius: 20px; /* Ovalni robovi */
  background-color: var(--background-color);
  border: 0.5px solid #ffb3d9; /* Tanjši roza neon border */
  box-shadow: 0 0 1px #FF69B4,
  0 0 9px rgba(255, 105, 180, 0.5); /* Manj intenzivno */
  max-width: 400px; /* Omejena širina za prelom na dve vrstici */
  font-size: 1.2rem; /* Večja pisava */
  line-height: 1.5; /* Razmik med vrsticami za boljšo berljivost */
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-align: justify;
}
