.thank-you-container {
  height: calc(100vh - 20vh); /* prilagodi glede na višino headerja + footerja */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #faf8f6; /* ali barva ozadja po želji */
  padding: 40px 20%;
  color: black;
}


.thank-you-container h1 {
  font-size: 2.5rem;
  font-family: "DM Serif Text", serif;
  color: black;
  font-weight: 300;
  line-height: 1;
}

.thank-you-container p {
  font-size: 1.2rem;
  margin: 10px 0;

}

.thank-you-container a {
  color: #4a90e2; /* temno pastelno modra */
  text-decoration: underline;
  transition: color 0.3s ease;
}

.thank-you-container a:hover {
  color: #366fb3; /* malo temnejša ob hoverju */
}

@media (max-width: 800px) {
  .thank-you-container {
      padding: 40px 20px;
  }
}
