<div class="thank-you-container">
  <div class="text-container">
    <h1>{{ 'afterPurchase.thankYou' | translate }}</h1>
    <p>{{ 'afterPurchase.text1' | translate }}</p>
    <p>{{ 'afterPurchase.text2' | translate }}</p>
    <p>{{ 'afterPurchase.textSpecial' | translate }}</p>
    <p>{{ 'afterPurchase.text3' | translate }}</p>

    <p>📍
      <a href="https://maps.app.goo.gl/iM87fx3eJMi2y3cz7" target="_blank" rel="noopener">
        {{ 'afterPurchase.locationLink' | translate }}
      </a>
    </p>
    <p>  {{ 'afterPurchase.mailText' | translate }}
      <a href="mailto:kviz.mojster@gmail.com">kviz.mojster&#64;gmail.com</a>
    </p>
    <p>{{ 'afterPurchase.goodLuck' | translate }}</p>
  </div>

</div>
