@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background-color: #0c1421; /* Definirajte ovdje vašu boju */
}

.body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
