@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background-color: #0c1421;
  --lighter-blue: #192d4e;
  --yellow: #fbe66d;
}

.body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
