<div class="contact-container">
<!--  <p>test</p>-->
  <div class="contact-info">
    <div class="box">
      <div class="contact-item">
        <i class="bi bi-facebook"></i>
        <a href="https://www.facebook.com/p/Kviz-Mojster-61552922048619/" target="_blank" rel="noopener noreferrer">Kviz mojster</a>
      </div>
      <div class="contact-item">
        <i class="bi bi-instagram"></i>
        <a href="https://www.instagram.com/kviz_mojster/" target="_blank" rel="noopener noreferrer">kviz_mojster</a>
      </div>
      <div class="contact-item">
        <i class="bi bi-envelope"></i>
        <a href="kviz.mojster@gmail.com">kviz.mojster&#64;gmail.com</a>
      </div>
    </div>
  </div>
  <div class="svg-container">
    <img src="assets/images/paper_plane.svg" alt="Icon" class="contact-icon" />
  </div>
</div>
